::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.596);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}
